[package]
name = "carts"
version = "0.1.0"

[lib]
name = "carts_lib"
path = "src/lib.rs"

[dependencies]
bb8 = { git = "https://github.com/vorot93/bb8", branch = "patch-1" }
bb8-postgres = { git = "https://github.com/vorot93/bb8", branch = "patch-1" }
failure = "0.1.1"
futures = "0.1.17"
futures-cpupool = "0.1.7"
hyper = "0.11.9"
hyper-tls="0.1.2"
postgres = { git = "https://github.com/sfackler/rust-postgres" }
serde_derive = "*"
tokio-core = "*"
stq_http = { path = "vendor/libstqbackend/http" }
stq_router = { path = "vendor/libstqbackend/router" }
