[package]
name = "orders"
version = "0.1.0"

[lib]
name = "orders_lib"
path = "src/lib.rs"

[dependencies]
bb8 = { git = "https://github.com/vorot93/bb8", branch = "patch-1" }
bb8-postgres = { git = "https://github.com/vorot93/bb8", branch = "patch-1" }
config = "*"
env_logger = "*"
failure = "0.1"
futures = "0.1"
futures-cpupool = "0.1"
futures-state-stream = "0.2"
hyper = "0.11.9"
hyper-tls="0.1.2"
log = "*"
postgres = { git = "https://github.com/sfackler/rust-postgres" }
serde = "*"
serde_derive = "*"
tokio-core = "*"
tokio-postgres = { git = "https://github.com/sfackler/rust-postgres" }
stq_http = { path = "vendor/libstqbackend/http" }
stq_router = { path = "vendor/libstqbackend/router" }
